---
layout: base
title: "Przyszłość Prawa Autorskiego. Konsultacje Europejskie."
icon: /img/30c3/icon.png
language: pl
---
<style type="text/css"> @import "/css/30c3.css"; </style>
<style type="text/css"> @import "/css/font-awesome.min.css"; </style>
<script type="text/javascript" src="/js/fnp.js"></script>

        <!-- Our CSS stylesheet file -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" /
        <link rel="stylesheet" href="/countdown/assets/css/styles.css" />
        <link rel="stylesheet" href="/countdown/assets/countdown/jquery.countdown.css" />
	<script src="/countdown/assets/countdown/jquery.countdown.js"></script>
	<script src="/countdown/start.js"></script>


<a href="http://prawokultury.pl" id="pklogo"><img src="../img/pk_logo.png" /></a>
<a href="http://nowoczesnapolska.org.pl" id="fnplogo"><img src="../img/nowoczesnapolska.org.pl.png" /></a>

<div  style="position:absolute; right:0px; top:170px">
  <p style="margin-left:60px"><strong>Mamy czas do 5 lutego 2014</strong></p>
  <div id="countdown"></div>
<!--  <p style="margin-left:60px">(pozostało dni, godzin, minut, sekund)</p>-->
</div>

<div id="header">
  <h1>
  Przyszłość Prawa Autorskiego <br/>
  Konsultacje Europejskie
  </h1>

</div>
<div class="container step-start">
  <div id="step-start" class="jumbotron">
    <h3>O co chodzi?</h3>
    <p>
      Komisja Europejska ogłosiła najważniejsze konsultacje społeczne w historii UE: konsultacje prawa autorskiego. Do 5 lutego każda obywatelka i każdy obywatel Unii może wyrazić swoją opinię na temat obecnego systemu i koniecznych zmian. Na podstawie wyniku konsultacji Komisja zadecyduje, czy konieczna jest reforma systemu praw autorskich i w jakim kierunku powinna ona pójść. Dlatego jest bardzo ważne, aby wszyscy  wzięli w nich udział.
    </p>
    <p>
      Pytania Komisji zostały opublikowane w języku angielskim, ale można na nie odpowiedzieć po polsku (a Komisja Europejska ma obowiązek takie odpowiedzi przetłumaczyć i uwzględnić). Pytania Komisji dotyczą ogromnej liczby problemów, dlatego pytań jest aż 80. Nie trzeba jednak odpowiadać na wszystkie pytania. Fundacja Nowoczesna Polska wybrała 12 najważniejszych pytań i przetłumaczyła je na język polski, a także dodała do nich krótkie omówienie:
    </p>

    <ul class="emph">
      <li>Czy linkowanie powinno zostać zabronione?</li>
      <li>Czy warto wprowadzić sprzedaż zakupionych wcześniej plików?</li>
      <li>Czy sto lat to nie za dużo?</li>
      <li>Co nam wolno zrobić z utworem?</li>
      <li>Czy powinniśmy mieć pełen dostęp on-line do zbiorów bibliotek?</li>
      <li>Czy chcemy mieć prawo do publikowania własnych kolekcji w Sieci?</li>
      <li>Czy prawo autorskie powinno dalej ograniczać dostęp do edukacji? </li>
      <li>Czy prawo autorskie powinno dalej ograniczać dostęp do wiedzy?</li>
      <li>Czy remiks to też sztuka, a jeśli tak to czy powinniśmy go chronić?</li>
      <li>Jeśli twórcy zostaną wynagrodzeni za obecność ich dzieł w Sieci, to jakie prawa powinniśmy w zamian otrzymać?</li>
      <li>Jak ścigać naruszenia prawa autorskiego?</li>
      <li>Jaka powinna być przyszłość kultury w Sieci?</li>
    </ul>

    <h3> Jak wziąć udział w konsultacjach:</h3>

    <ol>
      <li>
	<p><strong>Jeśli masz kilka minut:</strong><br/>
	Odpowiedz na pytanie 80 - to pytanie otwarte, w którym możesz napisać, co jest dla ciebie ważne w  kontekście prawa autorskiego, np. jakie zasady ci się podobają, a jakie nie, co powinno być Twoim zdaniem legalne, a co zabronione. Nie musisz znać dobrze przepisów, napisz po prostu, w jaki sposób chcesz korzystać z filmów, książek czy muzyki w Sieci.</p>
	<p>
	<a href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="start(this)" data-problems='["q80"]'>Odpowiedz na pytanie 80. &raquo;</a>
	</p>
      </li>
      <li>
	<p><strong>Jeśli masz pół godziny:</strong><br/>
	</p>
	<p>
	<a href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="start(this)" data-problems='["q11", "q14", "q20", "q23", "q34", "q38", "q45", "q48", "q61", "q71", "q77", "q80"]'>Odpowiedz na 12 najważniejszych pytań &raquo;</a>
	</p>
      </li>
      <li>
	<p><strong>Jeśli masz kilka godzin:</strong><br/>
	Napisz i wyślij Komisji odpowiedzi na te wszystkie pytania, które uważasz za ważne.</p>
	<p>
	  <a style="display: none" href="http://youcan.fixcopyright.eu/pl" class="btn btn-primary btn-lg">Odpowiedz na wszystkie pytania</a>
	  <a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/consultation-document_en.odt" class="btn btn-primary btn-lg">format ODT</a>
	  <a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/consultation-document_en.doc" class="btn btn-primary btn-lg">format DOC</a>
	  <a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/consultation-document_en.pdf" class="btn btn-primary btn-lg">format PDF</a>

	  <br/>
	  Odpowiedzi  wpisz do formularza i zapisz w formacie MS Word, PDF lub OpenDocument, a następnie wyślij nie później niż 5 lutego 2014 r. na adres: markt-copyright-consultation@ec.europa.eu 

	</p>
      </li>
    </ol>
    <p><strong>UWAGA:</strong><br/>
      Nie wklejaj gotowych odpowiedzi znalezionych w Sieci, ponieważ Komisja potraktuje wszystkie identyczne wypowiedzi jako jeden głos.
    </p>
    <h3>Dziękujemy!</h3>
  </div>

  <div id="step-problem" class="jumbotron">
    <!--<p>Your problem:</p>-->
    <h2></h2>
    <!--<p>This problem relates to the following question(s) in the consultation:</p>-->
    <div id="problem"></div>
    <a id="prev" href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="step(true)">&laquo; Poprzednie pytanie</a>
    <a id="next" href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="step()">Następne pytanie &raquo;</a>
    <div class="form-group give-name" style="display:none">
      <label for="name">Imię i nazwisko</label>
      <input type="text" class="form-control" id="name" placeholder="Wpisz swoje imię">
      <p class="help-block">
	Twoje odpowiedzi zostaną udostępnione online przez Komisję
        Europejską. <br /> Podanie imienia i nazwiska jest zalecane, choć nie jest obowiązkowe.
      </p>
    </div>
    <a href="javascript:void(0)" class="download-document btn btn-primary btn-lg">Wyślij odpowiedzi &raquo;</a>
  </div>

  <div id="step-end" class="jumbotron">
    <h2>Jak przekazać swoje odpowiedzi Komisji Europejskiej?</h2>
    
    <!-- prefilled fields -->
    <input type="hidden" name="typeofrespondent" value="enduser" checked>
    <input type="hidden" class="form-control" id="register-id" placeholder="Register ID">

    <ol>
      <li>
        <a id="download" href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="">Pobierz dokument z odpowiedziami</a>
      </li>
      <li>
        <a href="mailto:markt-copyright-consultation@ec.europa.eu?subject={{ "Moje odpowiedzi na konsultacje prawa autorskiego UE" | uri_escape }}&body={{ "PROSIMY O SPRAWDZENIE, CZY PLIK consultation-document_en.odt KTÓRY POBRALI PAŃSTWO JEST DOŁĄCZONY DO TEGO E-MAILA, ORAZ ŻE NINIEJSZA WIADOMOŚĆ JEST USUNIĘTA." | uri_escape }}" target="_blank" class="btn btn-primary btn-lg">Wyślij dokument email'em</a> to
        <input size="43" value="markt-copyright-consultation@ec.europa.eu" onclick="this.select()" />
        <p>
          <small><a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/privacy-statement_en.pdf">Oświadczenie o prywatności danych osobowych Komisji Europejskiej</a></small>
        </p>
      </li>
    </ol>

    <h2>Dziękujemy za wsparcie inicjatywy ulepszenia prawa autorskiego!</h2>

    <p>Czy chciałbyś podzielić się tą stroną z przyjaciółmi? Im Komisja Unii Europejskiej otrzyma więcej odpowiedzi, tym lepsza będzie reforma prawa autorskiego.</p>
	
	<ul class="fa-ul">
		<li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcopywrongs.eu%2F&t=Answer+to+the+EU+Commission+copyright+consultation" target="_blank"><i class="fa fa-facebook-square"></i> Podziel się na Facebook</a></li>
		<li><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.copywrongs.eu&via=copywrongs&text=Reply%20to%20the%20EC%20copyright%20consultation&related=copywrongs" target="_blank"><i class="fa fa-twitter-square"></i> Podziel się na Twitter</a></li>
		<li><a href="https://plus.google.com/share?url=http://copywrongs.eu/" target="_blank"><i class="fa fa-google-plus-square"></i> Share on Google+</a></li>
	</ul>

  </div>

  <div id="credits">
    Twórcami strony są: Marta Skotnicka, Marysia Świetlik, Marcin Koziej, Jarosław Lipszyc, Paweł Stankiewicz, Marcin Wilkowski
    <br/>
    Skontaktuj się z nami <a href="mailto:hello@copywrongs.eu">przez e-mail</a><!--, 
    lub <a href="https://twitter.com/CopyWrongs">on Twitter</a> &middot; made at <a href="https://events.ccc.de/congress/2013/"><img src="img/30c3/30c3.png" width="100" /></a> &middot;-->
    Strona używa <a href="http://fontawesome.io/">Font Awesome</a>.
    <a href="https://github.com/PPOE/eucopyright"><i class="fa fa-github"></i> Fork on GitHub</a>
  </div>
</div>

<div id="questions"><!-- visually hidden -->
{% for question in site.data.questions %}
  {% include question_only.html %}
{% endfor %}
</div>

<div id="question-titles">
<div id="title-q11">Czy linkowanie powinno zostać zabronione?</div>
<div id="title-q14">Czy warto wprowadzić sprzedaż zakupionych wcześniej plików?</div>
<div id="title-q20">Czy sto lat to nie za dużo?</div>
<div id="title-q23">Co nam wolno zrobić z utworem?</div>
<div id="title-q34">Czy powinniśmy mieć pełen dostęp on-line do zbiorów bibliotek?</div>
<div id="title-q38">Czy chcemy mieć prawo do publikowania własnych kolekcji w Sieci?</div>
<div id="title-q45">Czy prawo autorskie powinno dalej ograniczać dostęp do edukacji? </div>
<div id="title-q48">Czy prawo autorskie powinno dalej ograniczać dostęp do wiedzy?</div>
<div id="title-q61">Czy remiks to też sztuka, a jeśli tak to czy powinniśmy go chronić?</div>
<div id="title-q71">Jeśli twórcy zostaną wynagrodzeni za obecność ich dzieł w Sieci, to jakie prawa powinniśmy w zamian otrzymać?</div>
<div id="title-q77">Jak ścigać naruszenia prawa autorskiego?</div>
<div id="title-q80">Jaka powinna być przyszłość kultury w Sieci?</div>
</div>

<div id="question-override">
<div id="override-q34">Jeśli potrzebne jest rozwiązanie legislacyjne [problemów związanych z wpływem prawa autorskiego na działalność bibliotek opisanych w poprzednich pytaniach - przyp. FNP], jakie byłyby jego główne elementy? Jakie aktywności instytucji-beneficjentów powinno ono obejmować i na jakich warunkach?</div>

<div id="override-q45">Jeśli uważasz, że potrzebne jest rozwiązanie legislacyjne [problemów z prawem autorskim w działalności edukacyjnej opisanych w poprzednich pytaniach - przyp. FNP], jakie byłyby jego główne elementy? Jakie aktywności instytucji-beneficjentów powinno ono obejmować i na jakich warunkach?</div>
<div id="override-q48">Jeśli pojawiają się problemy [związane z korzystaniem z utworów w kontekście działalności badawczej - przyp. FNP] w jaki sposób najlepiej je rozwiązać?</div>
<div id="override-q61">Jeśli pojawiają się problemy [związane m. in. z opisanym w poprzednich pytaniach korzystaniem z cudzych utworów do tworzenia własnych - przyp. FNP], w jaki sposób najlepiej je rozwiązać?</div>
 
</div>
