---
layout: base
title: "¡Ayude a reformar los derechos de autor!"
icon: /img/30c3/icon.png
language: es
---
<style type="text/css"> @import "css/30c3.css"; </style>
<style type="text/css"> @import "css/font-awesome.min.css"; </style>
<script type="text/javascript" src="js/30c3.js"></script>

<div class="container step-start">
  <div id="step-start" class="jumbotron">
    
    <h1>¡Ayude a reformar los derechos de autor!</h1>

    <p><strong>La Unión Europea quiere oír su opinión.</strong> Desde este sitio web le facilitamos la participación en la <a href="http://ameliaandersdotter.eu/copyright-consultation-model-responses">consulta oficial de la Unión Europea</a> filtrando las preguntas en las que no esté interesado. ¡Juntos podemos hacer que nuestras opiniones y experiencias sean oídas!</p>
    <p><small>Una cosa más: ¡Puede responder las preguntas en cualquiera de los <a href="http://en.wikipedia.org/wiki/Languages_of_the_European_Union">24 idiomas oficiales Europeos</a> con el que se encuentre a gusto!</small></p>
    
    <h2>¿Con cuáles de estos problemas relativos a los derechos de autor se ha encontrado en la Unión Europea?</h2>
    <ul>
      {% include problem.html key="youtube" text="Vídeos de YouTube que no se pueden reproducir en mi país." %}
      {% include problem.html key="imagesharing" text="Falta de claridad sobre la legalidad de compartir imágenes en Facebook, Tumblr, etc." %}
      {% include problem.html key="filesharingconfusion" text="Falta de claridad sobre la legalidad de compartir ficheros/torrents o incluso tener problemas por haber compartido ficheros o torrents." %}
	  {% include problem.html key="drm" text="No pudo usar libremente material audiovisual que compró debido a la gestión de derechos digitales (Digital Rights Management - DRM),  de hecho tuvo menos libertad de la que hubiera tenido en el mundo analógico u offline." %}
      {% include problem.html key="resell" text="He gastado mucho dinero en música digital y libros, pero no puedo vender los que ya no quiero o necesito." %}
      {% include problem.html key="mediacountry" text="Determinado material audiovisual no está disponible para comprar en su país o un sitio web al que quería acceder estaba bloqueado en su país." %}
      {% include problem.html key="remix" text="No me atrevo a hacer una remezcla por temor a las repercusiones." %}
      {% include problem.html key="subtitle" text="Falta de claridad acerca de la legalidad de subtitular, traducir, convertir, entre otros, material audiovisual." %}
      {% include problem.html key="fanfiction" text="Mi fan fiction o fan art (creaciones paralelas o alternativas realizadas por fans sobre obras preexistentes) podría ser ilegal." %}
      {% include problem.html key="stolencontent" text="Mi contenido fue copiado sin mi permiso." %}
      {% include problem.html key="takedown" text="Proporcioné un servicio web sobre el cual se recibieron solicitudes de eliminación o quejas." %}
      {% include problem.html key="travel" text="Cuando viajo a otro Estado Miembro, no estoy seguro de las diferencias entre las leyes locales de derechos de autor y las de mi país." %}
	  {% include problem.html key="enforcement" text="He tenido la experiencia de que la aplicación de los derechos de autor pone los intereses de los titulares de los derechos por encima de los intereses de los ciudadanos." %}
      {% include problem.html key="links" text="Falta de claridad  acerca de la legalidad de compartir enlaces a contenido bajo la protección de derechos de autor." %}
      {% include problem.html key="duration" text="Creo que la duración de los derechos de autor es excesiva." %}
    </ul>

    <a href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="start(this)">Continuar &raquo;</a>

    <p><br /><small>¿Quiere <a href="http://youcan.fixcopyright.eu/">responder a la consulta completa de 80 preguntas</a> en lugar de a este formulario simplificado? No es necesario responder a todas las preguntas.</small></p>
  </div>

  <div id="step-problem" class="jumbotron">
    <p>Su problema:</p>
    <h2></h2>
    <p>Este problema está relacionado con la(s) siguiente(s) pregunta(s) de la consulta:</p>
    <div id="problem"></div>
    <a id="next" href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="step()">Siguiente problema &raquo;</a>
    <div class="form-group give-name" style="display:none">
      <label for="name">Su nombre</label>
      <input type="text" class="form-control" id="name" placeholder="Introduzca su nombre">
      <p class="help-block">
        ¡Por favor, tenga en cuenta que sus contribuciones <strong>serán publicadas online</strong> por la Unión Europea!<br />
        No tiene que dar su nombre, pero se recomienda que lo haga.
      </p>
    </div>
    <a href="javascript:void(0)" class="download-document btn btn-primary btn-lg">Enviar respuestas &raquo;</a>
  </div>

  <div id="step-end" class="jumbotron">
    <h2>Ahora envíe sus reacciones a la Comisión Europea</h2>

    <!-- prefilled fields -->
    <input type="hidden" name="typeofrespondent" value="enduser" checked>
    <input type="hidden" class="form-control" id="register-id" placeholder="Registrar Identificador">

    <ol>
      <li>
        <a id="download" href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="">Descargue archivo de respuesta</a>
      </li>
      <li>
        <a href="mailto:markt-copyright-consultation@ec.europa.eu?subject={{ "Mi contribución a la consulta sobre derechos de autor" | uri_escape }}&body={{ "POR FAVOR, ASEGÚRESE DE QUE EL FICHERO consultation-document_en.odt QUE HA DESCARGADO SE HA ADJUNTADO A ESTE CORREO ELECTRÓNICO Y BORRE ESTE MENSAJE" | uri_escape }}" target="_blank" class="btn btn-primary btn-lg">Enviar el documento descargado por correo electrónico</a> a
        <input size="43" value="markt-copyright-consultation@ec.europa.eu" onclick="this.select()" />
        <p>
          <small>Se aplica la <a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/privacy-statement_en.pdf">Declaración de privacidad de la Comisión Europea</a>.</small>
        </p>
      </li>
    </ol>

    <h2>¡Gracias por ayudar a abogar por la reforma de los derechos de autor!</h2>

    <p>¿Quiere compartir esta página con sus amigos? Cuantas más respuestas obtenga la Unión Europea, mejor será la reforma.</p>
	
	<ul class="fa-ul">
		<li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcopywrongs.eu%2F&t=Answer+to+the+EU+Commission+copyright+consultation"><i class="fa fa-facebook-square"></i> Compartir en Facebook</a></li>
		<li><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.copywrongs.eu&via=copywrongs&text=Reply%20to%20the%20EC%20copyright%20consultation&related=copywrongs"><i class="fa fa-twitter-square"></i> Compartir en Twitter</a></li>
		<li><a href="https://plus.google.com/share?url=http://copywrongs.eu/"><i class="fa fa-google-plus-square"></i> Compartir en Google+</a></li>
	</ul>

  </div>

  <div id="credits">
	  Contáctanos <a href="mailto:hello@copywrongs.eu">mediante correo electrónico</a>, 
	  o <a href="https://twitter.com/CopyWrongs">en Twitter</a> &middot; creado en <a href="https://events.ccc.de/congress/2013/"><img src="img/30c3/30c3.png" width="100" /></a> &middot; 
	Usa <a href="http://fontawesome.io/">Font Awesome</a>.
	  <a href="https://github.com/PPOE/eucopyright"><i class="fa fa-github"></i> Fork en GitHub</a>
  </div>
</div>

<div id="questions"><!-- visually hidden -->
{% for question in site.data.questions %}
  {% include question_only.html %}
{% endfor %}
</div>
